/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header and Footer */
header {
    background-color: #003366;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

footer {
    background-color: #001f3f;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Navigation Menu */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Main Content Area */
main {
    padding: 20px;
}

#draftSection {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    main {
        padding: 10px;
    }
}

/* Add these styles to your existing style.css */

#draftSection {
    margin: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

#draftSection label,
#draftSection select,
#draftSection button {
    margin: 5px;
    padding: 5px;
}

#draftResults {
    margin-top: 15px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.team-logo {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 5px;
}

/*Trade module css */

.trade-offer-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.trade-team {
    width: 45%;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    text-align: center;
}

.trade-team img {
    max-width: 50px;
    max-height: 50px;
    display: block;
    margin: 0 auto 10px;
}

.trade-team h3 {
    margin: 0;
    font-size: 1.2em;
}

.trade-team div {
    margin: 5px 0;
    font-size: 1em;
}

.trade-team .total-value {
    font-weight: bold;
    margin-top: 10px;
}

.trade-offer-buttons {
    text-align: center;
    margin-bottom: 10px;
}

.trade-offer-buttons button {
    margin: 0 5px;
}

#showTradeOffers {
    display: none;
    /* Initially hidden */
}

.draft-pick-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.draft-pick-item img {
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
}

.team-logo-small {
    max-width: 50px;
    max-height: 50px;
}

.filter-btn.active {
    background-color: #007bff;
    color: white;
}